.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
